@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}
header{
    width: calc(100vw - 24px);
    height: 12rem;
    font-size: 3rem;
    border-bottom: 1rem solid rgb(190, 200, 70);
    padding-right: 1.5rem;
    display: flex;
    justify-content: flex-end;
    background-image: url('../img/photo-1516211697506-8360dbcfe9a4.jfif');
    background-size: cover;
    background-position: center;
    align-items: center;
    color: rgb(190, 200, 70);
    font-family: 'Playfair Display SC','Franklin Gothic Medium', 'Arial Narrow', Arial, serif
}

main{
    width: 100vw;
    font-family: 'Quicksand','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: calc(100vh - 13rem);
    background-color: rgb(243, 243, 243);
}

.categories{
    list-style: none;
    margin: 0 auto;
    height: calc(100% - 1.5rem);
    padding: 1.5rem 0 0 1.5rem;
    overflow: scroll;
    width: 90%;
}

.categories div{
    display: flex;
    align-items: center;
}

i{
    color: rgb(199, 199, 199);
}

i:hover{
    color: rgb(190, 200, 70);
    cursor: pointer;
}

.fa-edit,.fa-check-circle{
    margin: 0 10px 0 14px;
}

.categories::-webkit-scrollbar {
    display: none;
}

.categories p {
    font-weight: 700;
    color: rgb(190, 200, 70);
    text-decoration: underline;
}

.categories ul{
    list-style: none;
    line-height: 2rem;
}

.categories>li{
    margin: 0 0 2rem 0;
}

.sub{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.add-cat{
    color: rgb(190, 200, 70);
    margin-right: 0.5rem;
}

span{
    color: rgb(190, 200, 70);
    font-weight: 700;
}

span:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(190, 200, 70)
}


/***********       functions       **********/

.hide{
    display: none !important;
}